<?xml version="1.0" encoding="utf-8"?>
<!-- 
    SPDX-FileCopyrightText: The Android Open Source Project
    SPDX-FileCopyrightText: The LineageOS Project
    SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system"
    package="com.realme.realmeparts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk android:minSdkVersion="29" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/device_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.SubSettingsBase"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <!-- clear spk Settings -->
        <activity
            android:name=".speaker.ClearSpeakerActivity"
            android:exported="false" 
            android:icon="@drawable/ic_speaker_cleaner_icon"
            android:label="@string/clear_speaker_title">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Device Settings -->
        <activity
            android:name=".DeviceSettingsActivity"
            android:label="@string/device_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_homepage_settings" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/device_summary" />
        </activity>

        <activity android:name=".DeviceSettings" />

        <receiver 
                  android:name=".Startup"
                  android:exported="true">
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Quick Settings Tiles -->
        <service
            android:name="com.realme.realmeparts.DCModeTileService"
            android:icon="@drawable/ic_dc_tile"
            android:label="@string/tile_dc_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.realme.realmeparts.SRGBModeTileService"
            android:icon="@drawable/ic_srgb_tile"
            android:label="@string/tile_srgb_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.realme.realmeparts.OtgToggleService"
            android:icon="@drawable/ic_otg_tile"
            android:label="@string/tile_otg_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
