system_vendor_config_prop(system_oplus_project_prop)
system_public_prop(system_oplus_sensor_prop)
system_public_prop(system_oplus_touch_prop)
system_public_prop(system_oplus_audio_prop)
system_public_prop(system_oplus_fingerprint_prop)
system_public_prop(system_cabc_prop)
system_public_prop(system_oplus_camera_prop)
vendor_restricted_prop(vendor_exported_system_prop)
